html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 1rem;
  font-family: "Gotham Light";
  background-color: rgba(252, 224, 209, 1);
}

/* HEADER MUOKKAUKSIA */
header {
  border-radius: 5px;
  background-color: rgba(105, 1, 59, 1);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header > * {
  flex: 1;
}

.headerDark {
  background-color: #333333;
  color: #fff;
  border: #fff 1px solid;
}

h1 {
  font-family: "Morion Beta Regular";
  color: rgba(252, 224, 209, 1);
  font-size: 3.8rem;
  text-align: center;
}

h2 {
  font-weight: bold;
  margin-block-end: 2rem;
}

h3 {
  font-weight: bold;
  font-size: 2.4rem;
  margin: 1rem 0 2rem 1rem;
}

.bc-logo-frame {
  width: 70%;
}

.bc-logo {
  max-width: 100%;
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4rem;
}

/* BUTTONIEN MUOKKAUKSIA */
.mode-button,
.exit-button {
  background-color: white;
  color: black;
  padding: 0.7rem;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Gotham Light";
}
.mode-button {
  padding: 1rem;
  font-size: 1.2rem;
  width: fit-content;
}
.logButton {
  background-color: white;
  color: black;
  padding: 0.7rem;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  font: "inherit";
  cursor: pointer;
}
.exit-button {
  width: 7rem;
  justify-content: center;
  font-size: 1.2rem;
}

.optionButtons {
  border: none;
  background-color: inherit;
  color: inherit;
  padding: 1rem;
  font: inherit;
  cursor: pointer;
  text-align: left;
}

.optionButtons:hover {
  text-decoration: underline 1px grey;
}

.optionButtons.selected {
  color: #f39d6e;
}

.mode-frame {
  width: 2rem;
}
.darkMode-icon {
  max-width: 100%;
  transform: rotate(180deg);
  margin-inline-start: 0.5rem;
}
.brightMode-icon {
  max-width: 100%;
  margin-inline-start: 0.5rem;
}

.exit-icon {
  max-width: 100%;
  transform: rotate(180deg);
  margin-inline-end: 0.5rem;
}

.mode-button:hover,
.exit-button:hover,
.logButton:hover,
.nav-li-items li:hover,
.nav-li-items li a:hover {
  background-color: rgba(251, 239, 234, 1);
  color: #f39d6e;
}

.main-section {
  margin-block-start: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/* LEFT-SIDEBAR */
.left-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* NAVIGAATIO MUOKKAUKSIA */
.nav-li-items {
  margin-block-start: 5rem;
  margin-inline-start: 2rem;
}
.nav-li-items li {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  text-align: center;
  cursor: pointer;
}
.nav-li-items li a {
  font-size: 1.4rem;
  text-decoration: unset;
  color: black;
}

.nav-li-items li a.active {
  color: #f39d6e;
}

/* GRAPHS-SECTION */
.graphs-section {
  background-color: white;
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  flex-grow: 1;
  padding: 1rem;
  color: black;
}
.graphs-sectionDark {
  background-color: #333333;
  color: #fff;
  border: #fff 1px solid;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-row > * {
  flex-grow: 1;
  flex-basis: content;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.chartLogSection {
  background-color: white;
  border: unset;
  border-radius: 0px;
  color: black;
}
/* .chartLogSectionDark {
  background-color: rgb(77 71 71);
  border: #fff 1px solid;
  border-radius: 10px;
  color: white; 
} */

.optionsSection {
  border: 0.5px solid grey;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.optionsSection ul {
  flex: 4;
}

.eventTotal {
  border: 1px solid #5f0034;
  padding: 1rem;
  text-align: center;
  align-content: center;
  flex: 1;
  background-color: rgba(251, 239, 234, 1);
  font-size: 1.4rem;
  font-style: oblique;
  border-radius: 5px;
}

/* .eventTotalDark {
  background-color: rgb(117 100 100);
  border: #fff 0.5px solid;
} */

.eventTotalP {
  margin-block-end: 1rem;
}

.Graph1,
.Graph2,
.Graph3,
.Graph4 {
  border: 0.5px solid black;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  color: black;
  border-radius: 5px;
}
/* .Graph1Dark,
.Graph2Dark,
.Graph3Dark,
.Graph4Dark {
  border: 0.5px solid rgba(251, 239, 234, 1);
  padding: 1rem;
  margin: 1rem;
  background-color: #393333;
  color: white;
} */

/* TAULUKOT */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  color: black;
  font-size: 1.4rem;
}

th {
  background-color: #f2f2f2;
}

td {
  background-color: white;
}

/* .thDark {
  background-color: #606060;
  color: white;
}

.tdDark {
  background-color: #424141;
  color: white;
} */

label {
  margin-inline-start: 3rem;
}
#timeRange {
  margin-inline-start: 2rem;
  height: 4rem;
  font-family: "Gotham Light";
  margin-block-end: 2rem;
}

/* Tabletti */
@media only screen and (max-width: 768px) {
  .flex-row {
    flex-direction: column;
  }
}
/* Mobiili */
@media only screen and (max-width: 425px) {
  h1 {
    font-size: 1.8rem;
  }
  .main-section {
    margin-block-start: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
  }
  .nav-li-items {
    margin-block-start: 1rem;
    margin-inline-start: 1rem;
  }
  .nav-li-items li {
    border-radius: 5px;
    margin-block-end: 0.3rem;
  }
  .exit-button {
    margin-block-end: 1rem;
  }
  .toggle-container {
    align-self: center;
  }
}
